.contact{
    background: white;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.contact ul {
    list-style-type: none;
}

.contact ul .title{
    background-color: darkslateblue;
    color : white;
}

.contact ul .contact-item{
        border: 1px solid #ddd;
}